{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sucesso!</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="pagina-de-sucesso">
  <div class="container">
    <h1>Cadastro realizado com sucesso!</h1>
    <p>Obrigado por se cadastrar como líder!</p>
    <p><a href="{% url 'pagina2' %}">Voltar para a página inicial</a></p>
  </div>
</body>
</html>
